$width: 80%;
$box-left-width: 50%;
$box-right-width: 25%;
$text-width: 40%;
$footer-box-width: 45%;
$display-value: flex;
$list-display: inline;
$img-pos: relative;
$box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
$box-border: 20px;

body {
    font-family: Inter, sans-serif;
    font-family: Readex Pro, sans-serif;
    background-color: #f8fafb;
    overflow-x: hidden;
    margin: 0px;
    padding: 0px;
}

a {
    text-decoration: none;
    color: #000;
}

header {
    margin: auto;
    display: $display-value;
}

.header-middle {
    margin: auto;
    width: $width;
    display: $display-value;
    justify-content: space-between;
    padding: 20px 0px;
    box-sizing: border-box;

    li {
        list-style-type: none;
        display: $list-display;
        padding-right: 20px;
    }
}

main {
    .main-body {
        width: $width;
        margin: auto;
        display: $display-value;
        flex-direction: column;
    }

    .main-body1 {
        text-align: center;

        h2 {
            margin-bottom: 0px;
        }

        p {
            font-weight: 300;
        }
    }

    .main-body2 {
        display: flex;
        margin-top: 50px;

        .box-left-main {
            display: flex;
            flex-direction: column;
            width: $box-left-width;
        }

        .box-left {
            padding: 0px 10px 10px;
            border-radius: $box-border;
            overflow: hidden;
            box-shadow: $box-shadow;
            position: $img-pos;
            margin-top: 20px;

            .box-texts {
                width: $text-width;
                float: right;
                text-align: right;
                

                .box-bold-text {
                    font-weight: bold;
                    font-size: larger;
                    margin-top: 0px;
                    line-height: normal;
                }

                p {
                    margin-top: 0px;
                }
            }

            .lp-text {
                position: absolute;
                right: 0px;
                bottom: 0px;
                line-height: 1px;
                margin-bottom: 9px;
                margin-right: 20px;
            }

            .ph-text {
                position: absolute;
                right: 0px;
                bottom: 126px;
                line-height: 1px;
                width: 100%;
                text-align: center;
                margin: auto;
            }

            .tb-text {
                position: absolute;
                right: 0px;
                top: 165px;
                line-height: 1px;
                width: 100%;
                text-align: center;
                margin: auto;
            }

            .img-container {
                padding: 0px 30px;
                position: absolute;
            }

            .laptop-img {
                width: 89%;
                top: -160px;
            }

            .watch-img {
                width: 53%;
                top: 0px;
            }

            .ph-img {
                width: 163%;
                top: 53px;
                left: -7px;
            }

            .tb-img {
                width: 142%;
                bottom: 98px;
                left: -7px;
            }

            img {
                width: 100%;
                display: block;
            }
        }

        .lp-height {
            height: 550px;
        }

        .wt-height {
            height: 249px;
        }

        .box-right-main {
            display:flex;
            width: 50%;
        }

        .box-right {
            width: $box-right-width;
        }

        .ph-height {
            height: 830px;
            width: 47%;
            margin-right: 2%;
            margin-left: 2%;
        }
    }
}

footer {
    margin: auto;
    width: $width;
    margin-top: 61px;
    display: $display-value;
    margin-bottom: 50px;

    .footer-div {
        display: $display-value;
        width: $footer-box-width;        
        padding: 10px;
        flex-direction: column;

        li {
            list-style-type: none;
        }

        h4 {
            margin-top: 0px;
        }

    }
}